@CHARSET "ISO-8859-1";
/* @import 'https://code.highcharts.com/css/highcharts.css'; */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.addBtn {
   position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    font-size: 30px;
    color: greenyellow;
}
.highcharts-container {
	display:block;
    width:100% !important;
    height:100% !important;
}
.gridster-full{
	width: 100% !important; 
	height: 100% !important;
}
/* .gridster-item{
	border: solid 0.1px #ccc; 
} */

/* .highcharts-container
{
  width: 100% !important;
 } */