body {
  padding: 50px;
/*   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
font : 14px "ge-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
background: #111;
}

a {
  color: #00B7FF;
}
.nopadding{
	padding: 0 !important;
	margin: 0 !important;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.app-container{
	background: #111;
}
.highcharts-title{
	cursor: move !important;
}