<div class="app-header vertical-align">
	<div class="container-fluid">
		<div class="row">
			<div class="col-10 vertical-align">
				<img alt="logo" src="../public/images/ge-monogram.png">
				<span>&nbsp&nbspReport&nbsp</span>
			</div>
			<div class="col-2 vertical-align">
				<div class="pull-left">
					Niranjan B S
				</div>
			</div>
		</div>
	</div>

</div>