<div class="app-container">
	<i class="fa fa-plus-circle addBtn" aria-hidden="true" data-ng-click="addWidget()"></i>
	<div class="container-fluid">
		<div gridster="gridsterOpts">
			<div gridster-item="item" ng-repeat="item in standardItems">
				<div class="gridster-full" context-menu="widget.menuOptions" 
					id="{{widget.id}}" ng-dyn-ctrl='item.controller' data-ng-init="init()">
				</div>
			</div>
		</div>
	</div>
</div>

