<div class="col-12">
	<div class="row" style="height: 50px">
		<div class="col-12 nopadding">
			<div ui-view="header"></div>
		</div>
	</div>
	<div class="row" style="height: calc(100% - 80px)">
		<div class="col-12 nopadding">
			<div ui-view="container"></div>
		</div>
	</div>
	<!-- <div class="row" style="height: 30px">
		<div class="col-12 nopadding">
			<div ui-view="footer"></div>
		</div>
	</div> -->	
</div>	
